@import "colors.css";
@import "fonts.css";
@import "links.css";
@import "buttons.css";

:root {
	--page-space: 20px;
}

html {
	font-family: "NotoSans", "Gill Sans", "Gill Sans MT", Calibri,
		"Trebuchet MS", sans-serif;

	body {
		margin: 0;
		min-height: 100dvh;
		background-color: var(--primary_color-dark-2);
		color: var(--text_color_white);

		.max-width {
			max-width: 1280px;
			padding-inline: var(--page-space);
			margin: auto;
		}

		header.menu {
			z-index: 1;
			position: sticky;
			top: 0;
			background-color: var(--primary_color-dark-2);

			> .max-width {
				display: grid;
				grid-template-columns: auto 1fr auto;
				align-items: center;
				padding-block: var(--page-space);

				.logo {
					max-width: 150px;
					transition: filter 0.3s;

					&::after {
						content: none;
					}

					&:hover {
						filter: drop-shadow(0 0 3px var(--text_color_white));
					}

					img {
						width: 100%;
						object-fit: container;
					}
				}

				nav ul {
					display: flex;
					gap: 1rem;
					justify-content: center;
					font-size: 1.25rem;
				}
			}
		}

		main {
			position: relative;
			padding-block: 5dvh;

			.background-gradient {
				z-index: -2;
				position: fixed;
				top: 0;
				height: 100dvh;
				left: 0;
				right: 0;
				background-image: linear-gradient(
					var(--primary_color-dark-2),
					var(--primary_color-dark-1)
				);
			}

			h2.title-section {
				font-size: 4rem;
				font-style: italic;
				font-variation-settings: "wght" 800, "wdth" 62.5;
				letter-spacing: 5px;
				text-transform: lowercase;
				text-shadow: 0 0 4px var(--text_color_white);
			}

			#top {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 30px;

				.me-title {
					display: flex;
					flex-direction: column;
					align-items: center;

					img {
						z-index: -1;
						max-width: 500px;
						object-fit: contain;
						width: 100%;
						aspect-ratio: 222/257;
						mask-image: linear-gradient(
							to bottom,
							black 85%,
							transparent 100%
						);
					}

					h1 {
						font-size: 7.5rem;
						line-height: 7.5rem;
						font-style: italic;
						font-variation-settings: "wght" 550, "wdth" 62.5;
						letter-spacing: 20px;
						text-transform: uppercase;
						text-shadow: 0 0 4px var(--text_color_white);
						margin-top: -4rem;
					}

					h2 {
						font-size: 2.5rem;
						font-weight: 500;
					}
				}

				.links {
					display: flex;
					gap: 25px;

					a img {
						width: 2rem;
						aspect-ratio: 1/1;
					}
				}
			}

			#experience {
				display: flex;
				flex-direction: column;
				gap: 50px;

				article {
					display: grid;
					grid-template-columns: auto 1fr;
					gap: 2.5rem;
					background-color: var(--secondary_color_2-light-2_30);
					padding: 2.5rem;
					border-radius: 24px;
					box-shadow: 0 0 3px var(--secondary_color_2-light-2);

					.company {
						display: flex;
						flex-direction: column;
						align-items: center;
						gap: 0.5rem;
						max-width: 150px;

						img {
							max-width: 100%;
							aspect-ratio: 1/1;
							box-shadow: 0 0 2px var(--text_color_white);
						}

						h3 {
							max-width: 100%;
							font-weight: 300;
							letter-spacing: 5px;
							text-align: center;
							hyphens: manual;
						}
					}

					.details {
						.top {
							display: flex;
							justify-content: space-between;
							align-items: center;
							gap: 1rem;

							h3 {
								font-size: 1.75rem;
								font-weight: 600;
							}

							span {
								letter-spacing: 5px;
								font-weight: 250;
							}
						}

						ul {
							display: flex;
							flex-direction: column;
							gap: 0.5rem;
							padding-top: 0.75rem;

							li {
								font-size: 1rem;
								text-wrap: balance;
								text-wrap: pretty;

								&::before {
									content: "\2713";
									padding-right: 0.25rem;
									font-weight: bold;
									color: var(--secondary_color_2-light-2);
								}
							}
						}
					}
				}
			}
		}

		footer {
			background-color: var(--primary_color-dark-1);
		}
	}
}
