@import "colors.css";
@import "fonts.css";
@import "links.css";
@import "buttons.css";

:root {
	--page-space: 20px;
}

html {
	font-family: "NotoSans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	scroll-behavior: smooth;
	scroll-padding-top: 90px;

	::selection {
		background-color: var(--secondary_color_1-light-1);
	}

	body {
		margin: 0;
		min-height: 100dvh;
		background-color: var(--primary_color-dark-1);
		color: var(--text_color_white);

		img {
			pointer-events: none;
			-ms-user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
		}

		.no-text-select {
			-ms-user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
		}

		.max-width {
			max-width: 1280px;
			padding-inline: var(--page-space);
			margin: auto;
		}

		.underline {
			text-decoration: underline;
		}

		.yellow {
			color: var(--complementary_color-light-1);
			font-weight: bold;
		}

		header.menu {
			z-index: 1;
			position: sticky;
			top: 0;
			background-color: var(--primary_color-dark-2);
			transition: all 0.5s;

			&.scrolled {
				box-shadow: 0 1px 1px var(--text_color_white);
			}

			> .max-width {
				@media (max-width: 1024px) {
					padding-inline: 0;
				}

				> nav {
					padding-block: var(--page-space);

					@media (max-width: 1024px) {
						padding-inline: var(--page-space);
					}
				}

				.mobile {
					display: none;
				}

				.map {
					display: grid;
					grid-template-columns: auto 1fr auto;
					align-items: center;
					width: 100%;

					ul {
						display: flex;
						gap: 1rem;
						justify-content: center;
						font-size: 1.25rem;
					}
				}

				.logo {
					max-width: 150px;
					transition: filter 0.3s;

					&::after {
						content: none;
					}

					&:hover {
						filter: drop-shadow(0 0 3px var(--text_color_white));
					}

					img {
						width: 100%;
						object-fit: container;
					}
				}

				@media (max-width: 1024px) {
					.mobile {
						display: flex;
						justify-content: space-between;
						align-items: center;

						.menu-toggle-checkbox {
							display: none;

							&:checked ~ .menu-toggle-label span {
								&:nth-child(1) {
									transform-origin: left center;
									transform: rotate(45deg) translate(2px, -4px);
									top: 0;
								}

								&:nth-child(2) {
									opacity: 0;
								}

								&:nth-child(3) {
									transform-origin: right center;
									transform: rotate(-45deg) translate(-2px, -4px);
									top: 0;
								}
							}
						}

						.menu-toggle-label {
							cursor: pointer;
							position: relative;
							width: 2rem;
							height: 1.5rem;

							span {
								position: absolute;
								top: 0;
								display: block;
								height: 4px;
								background-color: var(--text_color_white);
								width: 100%;
								transition: all 0.3s ease;

								&:nth-child(2) {
									top: calc(50% - 2px);
									opacity: 1;
								}

								&:nth-child(3) {
									top: calc(100% - 4px);
								}
							}
						}
					}

					&:has(.menu-toggle-checkbox:checked) {
						.mobile,
						.map {
							transition: background-color 0.3s;
							background-color: var(--primary_color-dark-2);
						}

						.map {
							display: flex;
						}
					}

					.map {
						position: absolute;
						top: 95%;
						display: none;
						flex-direction: column;
						justify-content: center;
						gap: 2.5dvh;
						box-shadow: 0 1px 1px var(--text_color_white);

						.logo {
							display: none;
						}

						ul {
							flex-direction: column;
							align-items: center;
							gap: 2.5dvh;
						}
					}
				}
			}
		}

		main {
			position: relative;

			.background-gradient {
				z-index: -2;
				position: fixed;
				top: 0;
				height: 100dvh;
				left: 0;
				right: 0;
				background-image: linear-gradient(var(--primary_color-dark-2), var(--primary_color-dark-1));
			}

			h2.title-section {
				font-size: 4rem;
				font-style: italic;
				font-variation-settings: "wght" 800, "wdth" 62.5;
				letter-spacing: 5px;
				text-transform: lowercase;
				text-shadow: 0 0 4px var(--text_color_white);
				-ms-user-select: none;
				-webkit-user-select: none;
				-moz-user-select: none;
				user-select: none;

				@media (max-width: 425px) {
					font-size: 3rem;
				}
			}

			.max-width {
				display: flex;
				flex-direction: column;
				gap: 5dvh;

				#top {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 2.5dvh;
					padding-top: 5dvh;

					.me-title {
						display: flex;
						flex-direction: column;
						align-items: center;

						img {
							z-index: -1;
							max-width: 500px;
							object-fit: contain;
							width: 100%;
							aspect-ratio: 222/257;
							mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
						}

						h1 {
							font-size: 7.5rem;
							line-height: 7.5rem;
							font-style: italic;
							font-variation-settings: "wght" 550, "wdth" 62.5;
							letter-spacing: 20px;
							text-transform: uppercase;
							text-shadow: 0 0 4px var(--text_color_white);
							margin-top: -4rem;
							text-align: center;

							@media (max-width: 425px) {
								font-size: 6.5rem;
								line-height: 6.5rem;
								margin-top: -3rem;
							}

							@media (max-width: 375px) {
								font-size: 5.5rem;
								line-height: 5.5rem;
								margin-top: -3rem;
							}
						}

						h2 {
							font-size: 2.5rem;
							font-weight: 500;
							text-align: center;

							@media (max-width: 1024px) {
								margin-top: 1rem;
							}

							@media (max-width: 425px) {
								font-size: 1.75rem;
							}
						}
					}

					.links {
						display: flex;
						gap: 25px;

						a img {
							width: 2rem;
							aspect-ratio: 1/1;
						}
					}
				}

				#experience {
					display: flex;
					flex-direction: column;
					gap: 2.5dvh;

					article.card {
						display: grid;
						grid-template-columns: auto 1fr;
						gap: 2.5rem;
						background-color: var(--secondary_color_2-light-2_30);
						padding: 2.5rem;
						border-radius: 24px;
						box-shadow: 0 0 3px var(--secondary_color_2-light-2);

						@media (max-width: 768px) {
							grid-template-columns: 1fr;
							justify-items: center;
							gap: 1.5rem;
						}

						.company {
							display: flex;
							flex-direction: column;
							align-items: center;
							gap: 0.5rem;
							max-width: 150px;

							img {
								max-width: 100%;
								aspect-ratio: 1/1;
								box-shadow: 0 0 2px var(--text_color_white);
								border-radius: 24px;
							}

							h3 {
								max-width: 100%;
								font-weight: 300;
								letter-spacing: 5px;
								text-align: center;
								hyphens: manual;
							}

							@media (max-width: 768px) {
								max-width: 100%;

								img {
									max-width: 150px;
								}
							}
						}

						.details {
							.top {
								display: flex;
								justify-content: space-between;
								align-items: center;
								gap: 1rem;

								@media (max-width: 1024px) {
									flex-direction: column;
									align-items: flex-start;
									gap: 0.25rem;
								}

								h3 {
									font-size: 1.75rem;
									font-weight: 600;
								}

								span {
									letter-spacing: 5px;
									font-weight: 250;

									@media (min-width: 769px) {
										text-align: end;
									}
								}
							}

							ul {
								display: flex;
								flex-direction: column;
								gap: 0.5rem;
								padding-top: 0.75rem;

								li {
									text-wrap: pretty;

									&::before {
										content: "\2713";
										padding-right: 0.25rem;
										font-weight: bold;
										color: var(--secondary_color_2-light-2);
									}
								}
							}
						}
					}
				}

				#skills {
					display: flex;
					flex-direction: column;
					gap: 2.5dvh;

					.technologies {
						display: grid;
						grid-template-columns: repeat(2, 1fr);
						gap: 50px;

						@media (max-width: 768px) {
							grid-template-columns: 1fr;
						}

						.card {
							display: flex;
							flex-direction: column;
							gap: 2.5rem;
							background-color: var(--secondary_color_1-light-2_20);
							padding: 2.5rem;
							border-radius: 24px;
							box-shadow: 0 0 3px var(--secondary_color_1-light-2);

							@media (min-width: 769px) {
								&:last-child {
									grid-column: 1 / 3;
								}
							}

							h3 {
								font-size: 2rem;
								font-variation-settings: "wght" 600, "wdth" 62.5;
								letter-spacing: 5px;
								text-align: center;
								text-transform: uppercase;
								text-shadow: 0 0 4px var(--secondary_color_1-light-2);
							}

							ul {
								display: flex;
								flex-wrap: wrap;
								justify-content: center;
								gap: 2rem;

								li {
									position: relative;
									display: flex;
									align-items: center;
									justify-content: center;
									width: 5rem;
									aspect-ratio: 1/1;
									background-color: var(--background_color_white);
									border-radius: 24px;
									box-shadow: 0 0 3px var(--secondary_color_1-light-2);

									img {
										max-width: 75%;
										object-fit: scale-down;
									}

									&:hover .tooltip {
										visibility: visible;
										opacity: 1;
										transition: all 0.5s;
									}

									.tooltip {
										position: absolute;
										bottom: 100%;
										visibility: hidden;
										opacity: 0;
										transition: visibility 0.5s, opacity 0.3s;
										line-height: 2rem;
									}
								}
							}
						}
					}
				}

				#me {
					display: flex;
					flex-direction: column;
					gap: 2.5dvh;

					article {
						display: grid;
						grid-template-columns: 1fr 2fr;
						align-items: center;
						gap: 25px;

						@media (max-width: 1024px) {
							grid-template-columns: 1fr;
						}

						.image {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 100%;

							img {
								max-width: 400px;
								border-radius: 50%;
								box-shadow: 0 0 2px var(--text_color_white);

								@media (max-width: 768px) {
									width: 75%;
								}
							}
						}

						.texts {
							display: flex;
							flex-direction: column;
							gap: 1rem;
							text-wrap: pretty;
							padding-inline: 2.5rem;

							ul {
								li {
									&::before {
										content: "\2713";
										padding-right: 0.25rem;
										font-weight: bold;
										color: var(--secondary_color_2-light-2);
									}
								}
							}
						}
					}
				}

				#contact {
					display: flex;
					flex-direction: column;
					gap: 2.5dvh;
					padding-bottom: 5dvh;

					article {
						&.card {
							display: grid;
							gap: 1rem;
							background-color: var(--secondary_color_2-light-2_30);
							padding: 2rem 2.5rem;
							border-radius: 24px;
							box-shadow: 0 0 3px var(--secondary_color_2-light-2);
							max-width: 800px;
							margin-inline: auto;

							ul {
								display: flex;
								flex-direction: row;
								justify-content: center;
								gap: 1rem;
							}

							p {
								text-wrap: pretty;
							}
						}

						&.links ul {
							display: flex;
							justify-content: center;
							gap: 1rem;
						}
					}
				}
			}
		}
	}
}
