:root {
    /* max-width pc*/
    --max-width-pc: 1500px;

    /* android */
    --android-background-color: #3dda84;
    --android-text-color: #ffffff;
    /* angular */
    --angular-background-color: #e23137;
    --angular-text-color: #ffffff;
    /* boostrap */
    --boostrap-background-color: #60408c;
    --boostrap-text-color: #ffffff;
    /* css */
    --css-background-color: #2965f1;
    --css-text-color: #ffffff;
    /* docker */
    --docker-background-color: #def1f9;
    --docker-text-color: #066da5;
    /* git */
    --git-background-color: #f05133;
    --git-text-color: #ffffff;
    /* html */
    --html-background-color: #f16529;
    --html-text-color: #ffffff;
    /* ionic */
    --ionic-background-color: #ffffff;
    --ionic-text-color: #488bff;
    /* java */
    --java-background-color: #ffffff;
    --java-text-color: #e76f00;
    /* javascript */
    --javascript-background-color: #f0db4e;
    --javascript-text-color: #323230;
    /* mongodb */
    --mongodb-background-color: #027f5d;
    --mongodb-text-color: #cee7a5;
    /* nodejs */
    --nodejs-background-color: #90c53f;
    --nodejs-text-color: #46483d;
    /* nosql */
    --nosql-background-color: #ffffff;
    --nosql-text-color: #2163c6;
    /* php */
    --php-background-color: #8993be;
    --php-text-color: #232531;
    /* prestashop */
    --prestashop-background-color: #b0ddec;
    --prestashop-text-color: #de0067;
    /* python */
    --python-background-color: #3879ab;
    --python-text-color: #ffda5d;
    /* react */
    --react-background-color: #001e26;
    --react-text-color: #00afde;
    /* sql */
    --sql-background-color: #1e4056;
    --sql-text-color: #ffffff;
    /* svn */
    --svn-background-color: #809cc8;
    --svn-text-color: #ffffff;
    /* typescript */
    --typescript-background-color: #007acc;
    --typescript-text-color: #ffffff;
    /* unity */
    --unity-background-color: #ffffff;
    --unity-text-color: #808182;
    /* windows */
    --windows-background-color: #0178d4;
    --windows-text-color: #ffffff;
    /* wordpress */
    --wordpress-background-color: #464646;
    --wordpress-text-color: #ffffff;
}

body {
    background-color: rgb(32, 32, 32);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 0;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}

/* HEADER */
/*************************** BACK BUTTON **************************/
#back-button {
    margin: auto;
    width: 5vw;
    height: 5vw;
    min-width: 75px;
    min-height: 75px;
    position: relative;
}

#back-button a {
    display: block;
    width: 100%;
    height: 100%;
}

#back-button a span {
    position: absolute;
    display: block;
    background-color: rgba(255, 255, 255, 1);
    transition: all 0.3s;
}

#back-button a span:nth-child(2) {
    height: 10%;
    width: 90%;
    top: 45%;
    left: 7.75%;
}

#back-button a span:not(:nth-child(2)) {
    height: 10%;
    width: 40%;
}

#back-button a span:first-child {
    transform: rotate(-45deg);
    top: 34.4%;
}

#back-button a span:last-child {
    transform: rotate(45deg);
    top: 55.6%;
}

/* hover back */
#back-button a:hover span:nth-child(2) {
    height: 0%;
    width: 0%;
    top: 50%;
    left: 50%;
}

#back-button a:hover span:not(:nth-child(2)) {
    height: 10%;
    width: 90%;
    top: 55%;
}

/******************************************************************/

header>h1 {
    margin-top: .5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    font-size: 7rem;
    letter-spacing: 3rem;
    width: 100%;
    text-align: center;
}

/* MAIN */
main>h2 {
    text-transform: lowercase;
    margin: auto;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 100;
    text-align: center;
    font-size: 5rem;
    z-index: 1;
    transition: all 0.3s;
}

main>h2:hover {
    /* text-shadow: 3px -3px 7px rgb(255 0 235), 5px -5px 0px rgb(255 255 55); */
    text-shadow: 2px -2px 1px rgb(255 0 235), 4px -4px 0px rgb(255 255 55);
}


@media (max-width: 768px) {
    header>h1 {
        font-size: 5rem;
    }

    main>h2 {
        font-size: 3rem;
    }
}

a {
    color: rgba(69, 78, 86);
    transition: all .3s;
}

a:hover {
    color: rgb(0, 168, 168);
}

.separator {
    width: 90%;
    height: 1px;
    background-color: rgba(69, 78, 86, 0.5);
}


/***************************** MY STORY ****************************/
#title-my-story {
    border-bottom: 3px solid #ffffff;
}

#my-story {
    width: 90%;
    margin: auto;
    --width-timeline: 3px;
    max-width: var(--max-width-pc);
    color: #454e56;
}

#my-story *,
#my-story *::before,
#my-story *::after {
    box-sizing: border-box;
}

.timeline {
    position: relative;
    width: 100%;
}

.timeline::after {
    content: '';
    position: absolute;
    width: var(--width-timeline);
    background: #ffffff;
    top: 0;
    bottom: 0;
    left: calc(50% - (var(--width-timeline)/2));
    margin-left: calc(-1 * (var(--width-timeline)/2));
}

.container-timeline {
    padding: .75rem 1.5rem;
    position: relative;
    background: inherit;
    width: calc(50% - (var(--width-timeline)/2));
}

.container-timeline.left-timeline {
    left: 0;
}

.container-timeline.right-timeline {
    left: calc(50% - (var(--width-timeline)/2));
}

.container-timeline::after {
    content: '';
    position: absolute;
    width: calc(var(--width-timeline)*5);
    height: calc(var(--width-timeline)*5);
    top: calc(50% - var(--width-timeline)*2.5);
    right: calc(var(--width-timeline)*-2.5);
    background: #ffffff;
    border: var(--width-timeline) solid #ffffff;
    border-radius: 50%;
    z-index: 1;
}

.container-timeline.right-timeline::after {
    left: calc(var(--width-timeline)*-2.5);
}

.container-timeline::before {
    content: '';
    position: absolute;
    width: 5rem;
    height: var(--width-timeline);
    top: calc(50% - (var(--width-timeline)/2));
    right: calc(var(--width-timeline)*2.5);
    background: #ffffff;
}

.container-timeline.right-timeline::before {
    left: calc(var(--width-timeline)*2.5);
}

.container-timeline .date-timeline {
    color: #ffffff;
    position: absolute;
    top: calc(50% - 1.5rem);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.container-timeline.left-timeline .date-timeline {
    right: -6.5rem;
}

.container-timeline.right-timeline .date-timeline {
    left: -6.5rem;
}

.container-timeline .icon-timeline svg {
    position: absolute;
    top: calc(50% - 1.25rem);
    width: 2.5rem;
    height: 2.5rem;
    background: #007acc;
    fill: #ffffff;
    border: var(--width-timeline) solid #007acc;
    border-radius: 12px;
    z-index: 1;
}

.container-timeline.left-timeline .icon-timeline svg {
    right: 3.5rem;
}

.container-timeline.right-timeline .icon-timeline svg {
    left: 3.5rem;
}

.container-timeline .content-timeline {
    color: #000000;
    padding: 2.5rem 5rem 2.5rem 2.5rem;
    background: rgba(255, 255, 255, 0.75);
    position: relative;
    border-radius: 0 12px 12px 0;
    transition: all 0.3s;
}

.container-timeline .content-timeline:hover {
    color: #454e56;
    background: rgba(255, 255, 255, 1);
}

.container-timeline.right-timeline .content-timeline {
    padding: 2.5rem 2.5rem 2.5rem 5rem;
    border-radius: 12px 0 0 12px;
}

.container-timeline .content-timeline h2 {
    margin: 0 0 .5rem 0;
    font-size: 1.5rem;
    font-weight: 100;
}

.container-timeline .content-timeline p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: normal;
}



@media (max-width: 1024px) and (min-width: 769px) {
    #my-story {
        width: 100%;
    }

    .container-timeline.left-timeline {
        padding-left: 0;
    }

    .container-timeline.right-timeline {
        padding-right: 0;
    }
}

@media (max-width: 768px) {
    #my-story {
        width: 100%;
    }

    #title-my-story {
        border-bottom: 3px solid transparent;
    }

    .timeline::after {
        left: 5.75rem;
    }

    .container-timeline {
        width: 100%;
        padding-left: 7.5rem;
        padding-right: 0;
    }

    .container-timeline.right-timeline {
        left: 0;
    }

    .container-timeline.left-timeline::after,
    .container-timeline.right-timeline::after {
        left: 5.25rem;
    }

    .container-timeline.left-timeline::before,
    .container-timeline.right-timeline::before {
        left: 5.25rem;
    }

    .container-timeline.left-timeline .date-timeline,
    .container-timeline.right-timeline .date-timeline {
        left: 1rem;
        width: -moz-fit-content;
        width: fit-content;
        transform: rotate(-90deg);
    }

    .container-timeline.left-timeline .icon-timeline svg,
    .container-timeline.right-timeline .icon-timeline svg {
        left: 9rem;
    }

    .container-timeline.left-timeline .content-timeline,
    .container-timeline.right-timeline .content-timeline {
        color: #454e56;
        background: rgba(255, 255, 255, 1);
        padding: 2.5rem 2.5rem 2.5rem 5rem;
        border-radius: 12px 0 0 12px;
    }
}

/*******************************************************************/





















#container-cv {
    color: #454e56;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: #ffffff;
    /* box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); */
    /* border-radius: 12px; */
}

#container-cv>* {
    max-width: var(--max-width-pc);
}

.title-section {
    font-weight: 100;
    font-size: 3rem;
    margin-block-end: 0.1rem;
    width: 100%;
    text-align: center;
}

/* JOBS */
.jobs {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.job {
    max-width: var(--max-width-pc);
    display: flex;
    align-items: flex-start;
    width: 90%;
    padding: 2rem 3rem;
    box-sizing: border-box;
    margin: .5rem 0;
}

.job:not(:last-child) {
    border-bottom: 1px solid rgba(69, 78, 86, 0.5);
}

.job .company {
    max-width: 150px;
    min-width: 150px;
    padding-right: 2rem;
    text-align: center;
}

.job .company h2 {
    margin-block-start: 0.20em;
}

.company img {
    max-width: 150px;
    min-width: 150px;
    width: 10vw;
    aspect-ratio: 1/1;
    border-radius: 12px;
}

/* LISTS */
.about-job ul {
    padding-left: 0;
    box-sizing: border-box;
}

.about-job ul li {
    list-style-type: none;
}

/* LIST CHALLENGES */

.about-job .challenges li {
    position: relative;
    padding-left: 2rem;
    margin-bottom: 0.5rem;
}

.about-job .challenges li:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -2px;
    width: 5px;
    height: 11px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #00a8a8;
    transform-origin: bottom left;
    transform: rotate(45deg);
    box-sizing: border-box;
}

/* LIST COMPETENCES */
.about-job .competences {
    display: flex;
    flex-wrap: wrap;
}

.about-job .competences li {
    padding: .3rem .5rem;
    margin: .25rem .2rem;
    font-weight: 600;
    background-color: #454e56;
    border-radius: 5px;
    box-shadow: 0 0 4px rgb(69 78 86 / 75%);
    transition: all .3s;
}

.about-job .competences li a {
    color: #b2becd;
    text-decoration: none;
}

/* EDUACATION / CERTIFICATES => PC */
#education-certificates-pc {
    display: flex;
    align-items: stretch;
    border-top: 2px solid rgba(69, 78, 86, 0.5);
    border-bottom: 2px solid rgba(69, 78, 86, 0.5);
}

#education-certificates-pc>section {
    width: 50%;
}

/* EDUCATION & CERTIFICATES */
.education,
.certificates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.education {
    border-right: 2px solid rgba(69, 78, 86, 0.5);
}

.study,
.certificate {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 3rem;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}

.study h3,
.certificate h3 {
    margin: .2rem 0;
    font-weight: normal;
}


@media (max-width: 1024px) {
    .jobs {
        width: 100%;
    }

    #education-certificates-pc {
        flex-direction: column;
        width: 100%;
    }

    #education-certificates-pc>section {
        width: 100%;
    }

    .education {
        border-right: none;
        border-bottom: 2px solid rgba(69, 78, 86, 0.5);
    }
}


@media (max-width: 768px) {
    .job {
        flex-direction: column;
        align-content: center;
    }

    .job .company {
        width: 100%;
        display: flex;
        max-width: unset;
        min-width: unset;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .about-job {
        width: 100%;
    }

    .about-job h2,
    .about-job h3 {
        text-align: center;
    }

    .about-job .competences {
        justify-content: center;
    }
}



/* SKILS */
.skills {
    width: 90%;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: stretch;

    --size-chart: 12rem;
}

/* CHARTS */
.skills>article *, .skills>article *:before, .skills>article *:after {
    box-sizing: border-box;
}

/* Size */
.pie-wrapper,
.pie-wrapper .pie .circle-line {
    width: var(--size-chart);
    height: var(--size-chart);
}

.skills>article {
    font-size: var(--size-chart);
    border-radius: 50%;
    margin: 2rem;
    background-color: transparent;
    cursor: default;
}

.pie-wrapper {
    position: relative;
    overflow: hidden;
}

.pie-wrapper .label {
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #454e56;
    color: #b2becd;
    position: absolute;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 5px #454e56;
    z-index: 1;
    transition: all 0.3s;
}

.pie-wrapper .label * {
    z-index: 1;
    font-size: 1.25rem;
    margin: 0;
}

.pie-wrapper .label h3 {
    text-shadow: 1px 1px 0.25rem rgb(255 255 255 / 25%);
}

.pie-wrapper .label span {
    font-style: italic;
    font-size: 2.5rem;
    text-shadow: 1px 1px 0.25rem rgb(255 255 255 / 25%);
}

.pie-wrapper .pie .circle-line {
    border: 1rem solid #b2becd;
    border-radius: 50%;
    position: absolute;
}

.pie-wrapper.progress-00 .pie .circle-line {
    border: none;
}

.pie-wrapper.progress-05 .pie .circle-line {
    clip-path: polygon(50% 0%, 70% 0, 50% 50%);
}

.pie-wrapper.progress-10 .pie .circle-line {
    clip-path: polygon(50% 0%, 90% 0, 50% 50%);
}

.pie-wrapper.progress-15 .pie .circle-line {
    clip-path: polygon(50% 0%, 100% 0, 100% 10%, 50% 50%);
}

.pie-wrapper.progress-20 .pie .circle-line {
    clip-path: polygon(50% 0%, 100% 0, 100% 30%, 50% 50%);
}

.pie-wrapper.progress-25 .pie .circle-line {
    clip-path: polygon(50% 0%, 100% 0, 100% 50%, 50% 50%);
}

.pie-wrapper.progress-30 .pie .circle-line {
    clip-path: polygon(50% 0%, 100% 0, 100% 50%, 100% 70%, 50% 50%);
}

.pie-wrapper.progress-35 .pie .circle-line {
    clip-path: polygon(50% 0%, 100% 0, 100% 50%, 100% 90%, 50% 50%);
}

.pie-wrapper.progress-40 .pie .circle-line {
    clip-path: polygon(50% 0%, 100% 0, 100% 50%, 100% 100%, 90% 100%, 50% 50%);
}

.pie-wrapper.progress-45 .pie .circle-line {
    clip-path: polygon(50% 0%, 100% 0, 100% 50%, 100% 100%, 70% 100%, 50% 50%);
}

.pie-wrapper.progress-50 .pie .circle-line {
    clip-path: polygon(50% 0%, 100% 0, 100% 50%, 100% 100%, 50% 100%, 50% 50%);
}

.pie-wrapper.progress-55 .pie .circle-line {
    clip-path: polygon(50% 0%, 100% 0, 100% 50%, 100% 100%, 50% 100%, 30% 100%, 50% 50%);
}

.pie-wrapper.progress-60 .pie .circle-line {
    clip-path: polygon(50% 0%, 100% 0, 100% 50%, 100% 100%, 50% 100%, 10% 100%, 50% 50%);
}

.pie-wrapper.progress-65 .pie .circle-line {
    clip-path: polygon(50% 0%, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 90%, 50% 50%);
}

.pie-wrapper.progress-70 .pie .circle-line {
    clip-path: polygon(50% 0%, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 70%, 50% 50%);
}

.pie-wrapper.progress-75 .pie .circle-line {
    clip-path: polygon(50% 0%, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 50% 50%);
}

.pie-wrapper.progress-80 .pie .circle-line {
    clip-path: polygon(50% 0%, 100% 0%, 100% 50%, 100% 100%, 50% 100%, 0% 100%, 0% 50%, 0% 30%, 50% 50%);
}

.pie-wrapper.progress-85 .pie .circle-line {
    clip-path: polygon(50% 0%, 100% 0%, 100% 50%, 100% 100%, 50% 100%, 0% 100%, 0% 50%, 0% 10%, 50% 50%);
}

.pie-wrapper.progress-90 .pie .circle-line {
    clip-path: polygon(50% 0%, 100% 0%, 100% 50%, 100% 100%, 50% 100%, 0% 100%, 0% 50%, 0% 0%, 10% 0%, 50% 50%);
}

.pie-wrapper.progress-95 .pie .circle-line {
    -webkit-clip-path: polygon(50% 0%, 100% 0%, 100% 50%, 100% 100%, 50% 100%, 0% 100%, 0% 50%, 0% 0%, 0% 0%, 50% 50%);
    clip-path: polygon(50% 0%, 100% 0%, 100% 50%, 100% 100%, 50% 100%, 0% 100%, 0% 50%, 0% 0%, 30% 0%, 50% 50%);
}

/* 
    0%     => 50 0
        5  => 70 0
        10 => 90 0
    12.5%  => 100 0
        15 => 100 10
        20 => 100 30
    25%    => 100 50
        30 => 100 70
        35 => 100 90
    37.5%  => 100 100
        40 => 90 100
        45 => 70 100
    50%    => 50 100
        55 => 30 100
        60 => 10 100
    62.5%  => 0 100
        65 => 0 90
        70 => 0 70
    75%    => 0 50
        80 => 0 30
        85 => 0 10
    87.5%  => 0 0
        90 => 10 0
        95 => 30 0
    100%   => 50 0

    12.5 pts => 50%
    1    pts  => 4%
*/

/************************** TECHNOLOGIES **************************/
/* android */
.about-job .competences li.android:hover,
.skills #android:hover .label {
    background-color: var(--android-background-color);
    color: var(--android-text-color);
}

.about-job .competences li.android:hover a {
    color: var(--android-text-color);
}

/* angular */
.about-job .competences li.angular:hover,
.skills #angular:hover .label {
    background-color: var(--angular-background-color);
    color: var(--angular-text-color);
}

.about-job .competences li.angular:hover a {
    color: var(--angular-text-color);
}

/* boostrap */
.skills #bootstrap:hover .label {
    background-color: var(--boostrap-background-color);
    color: var(--boostrap-text-color);
}

/* css */
.about-job .competences li.css:hover,
.skills #css:hover .label {
    background-color: var(--css-background-color);
    color: var(--css-text-color);
}

.about-job .competences li.css:hover a {
    color: var(--css-text-color);
}

/* docker */
.about-job .competences li.docker:hover,
.skills #docker:hover .label {
    background-color: var(--docker-background-color);
    color: var(--docker-text-color);
}

.about-job .competences li.docker:hover a {
    color: var(--docker-text-color);
}

/* git */
.about-job .competences li.git:hover,
.skills #git:hover .label {
    background-color: var(--git-background-color);
    color: var(--git-text-color);
}

.about-job .competences li.git:hover a {
    color: var(--git-text-color);
}

/* html */
.about-job .competences li.html:hover,
.skills #html:hover .label {
    background-color: var(--html-background-color);
    color: var(--html-text-color);
}

.about-job .competences li.html:hover a {
    color: var(--html-text-color);
}

/* ionic */
.about-job .competences li.ionic:hover,
.skills #ionic:hover .label {
    background-color: var(--ionic-background-color);
    color: var(--ionic-text-color);
}

.about-job .competences li.ionic:hover a {
    color: var(--ionic-text-color);
}

/* java */
.about-job .competences li.java:hover,
.skills #java:hover .label {
    background-color: var(--java-background-color);
    color: var(--java-text-color);
}

.about-job .competences li.java:hover a {
    color: var(--java-text-color);
}

/* javascript */
.about-job .competences li.javascript:hover,
.skills #javascript:hover .label {
    background-color: var(--javascript-background-color);
    color: var(--javascript-text-color);
}

.about-job .competences li.javascript:hover a {
    color: var(--javascript-text-color);
}

/* mongodb */
.about-job .competences li.mongodb:hover,
.skills #mongodb:hover .label {
    background-color: var(--mongodb-background-color);
    color: var(--mongodb-text-color);
}

.about-job .competences li.mongodb:hover a {
    color: var(--mongodb-text-color);
}

/* nodejs */
.about-job .competences li.nodejs:hover,
.skills #nodejs:hover .label {
    background-color: var(--nodejs-background-color);
    color: var(--nodejs-text-color);
}

.about-job .competences li.nodejs:hover a {
    color: var(--nodejs-text-color);
}

/* nosql */
.about-job .competences li.nosql:hover,
.skills #nosql:hover .label {
    background-color: var(--nosql-background-color);
    color: var(--nosql-text-color);
}

.about-job .competences li.nosql:hover a {
    color: var(--nosql-text-color);
}

/* php */
.about-job .competences li.php:hover,
.skills #php:hover .label {
    background-color: var(--php-background-color);
    color: var(--php-text-color);
}

.about-job .competences li.php:hover a {
    color: var(--php-text-color);
}

/* prestashop */
.about-job .competences li.prestashop:hover,
.skills #prestashop:hover .label {
    background-color: var(--prestashop-background-color);
    color: var(--prestashop-text-color);
}

.about-job .competences li.prestashop:hover a {
    color: var(--prestashop-text-color);
}

/* python */
.about-job .competences li.python:hover,
.skills #python:hover .label {
    background-color: var(--python-background-color);
    color: var(--python-text-color);
}

.about-job .competences li.python:hover a {
    color: var(--python-text-color);
}

/* react */
.about-job .competences li.react:hover,
.skills #react:hover .label {
    background-color: var(--react-background-color);
    color: var(--react-text-color);
}

.about-job .competences li.react:hover a {
    color: var(--react-text-color);
}

/* sql */
.about-job .competences li.sql:hover,
.skills #sql:hover .label {
    background-color: var(--sql-background-color);
    color: var(--sql-text-color);
}

.about-job .competences li.sql:hover a {
    color: var(--sql-text-color);
}

/* svn */
.about-job .competences li.svn:hover,
.skills #svn:hover .label {
    background-color: var(--svn-background-color);
    color: var(--svn-text-color);
}

.about-job .competences li.svn:hover a {
    color: var(--svn-text-color);
}

/* typescript */
.about-job .competences li.typescript:hover,
.skills #typescript:hover .label {
    background-color: var(--typescript-background-color);
    color: var(--typescript-text-color);
}

.about-job .competences li.typescript:hover a {
    color: var(--typescript-text-color);
}

/* unity */
.about-job .competences li.unity:hover,
.skills #unity:hover .label {
    background-color: var(--unity-background-color);
    color: var(--unity-text-color);
}

.about-job .competences li.unity:hover a {
    color: var(--unity-text-color);
}

/* windows */
.about-job .competences li.windows:hover,
.skills #windows:hover .label {
    background-color: var(--windows-background-color);
    color: var(--windows-text-color);
}

.about-job .competences li.windows:hover a {
    color: var(--windows-text-color);
}

/* wordpress */
.about-job .competences li.wordpress:hover,
.skills #wordpress:hover .label {
    background-color: var(--wordpress-background-color);
    color: var(--wordpress-text-color);
}

.about-job .competences li.wordpress:hover a {
    color: var(--wordpress-text-color);
}

/******************************************************************/