:root {
    --android-background-color: #3dda84;
    --android-text-color: #ffffff;
    --angular-background-color: #e23137;
    --angular-text-color: #ffffff;
    --boostrap-background-color: #60408c;
    --css-background-color: #2965f1;
}

body {
    /* background-color: rgb(32, 32, 32); */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #454e56;
}

a {
    color: rgba(69, 78, 86);
    transition: all .3s;
}

a:hover {
    color: rgb(0, 168, 168);
}

.separator {
    width: 90%;
    height: 1px;
    background-color: rgba(69, 78, 86, 0.5);
}

#container-cv {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 1px rgba(69, 78, 86, 0.5);
    box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.5);
    border-radius: 12px;
}

.title-section {
    font-weight: 100;
    font-size: 3rem;
    margin-block-end: 0.1rem;
    width: 100%;
    text-align: center;
}

/* JOBS */
.jobs {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: #ffffff;
    border-radius: 12px;
}

.job {
    max-width: 1200px;
    display: flex;
    align-items: flex-start;
    width: 90%;
    padding: 2rem 3rem;
    box-sizing: border-box;
    margin: .5rem 0;
}

.job:not(:last-child) {
    border-bottom: 1px solid rgba(69, 78, 86, 0.5);
}

.job .company {
    max-width: 150px;
    min-width: 150px;
    padding-right: 2rem;
    text-align: center;
}

.job .company h2 {
    margin-block-start: 0.20em;
}

.company img {
    max-width: 150px;
    min-width: 150px;
    width: 10vw;
    aspect-ratio: 1/1;
    border-radius: 12px;
}

/* LISTS */
.about-job ul {
    padding-left: 0;
    box-sizing: border-box;
}

.about-job ul li {
    list-style-type: none;
}

/* LIST CHALLENGES */

.about-job .challenges li {
    position: relative;
    padding-left: 2rem;
    margin-bottom: 0.5rem;
}

.about-job .challenges li:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -2px;
    width: 5px;
    height: 11px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #00a8a8;
    transform-origin: bottom left;
    transform: rotate(45deg);
    box-sizing: border-box;
}

/* LIST COMPETENCES */
.about-job .competences {
    display: flex;
    flex-wrap: wrap;
}

.about-job .competences li {
    padding: .3rem .5rem;
    margin: .25rem .2rem;
    font-weight: 600;
    background-color: #454e56;
    border-radius: 5px;
    box-shadow: 0 0 4px rgb(69 78 86 / 75%);
    transition: all .3s;
}

.about-job .competences li a {
    color: #b2becd;
    text-decoration: none;
}


/* TAGS */
.about-job .competences li.angular:hover {
    background-color: var(--angular-background-color);
    color: #ffffff;
}

.about-job .competences li.angular:hover a {
    color: #ffffff;
}

.about-job .competences li.css:hover {
    background-color: var(--css-background-color);
    color: #ffffff;
}

.about-job .competences li.css:hover a {
    color: #ffffff;
}

.about-job .competences li.docker:hover {
    background-color: #def1f9;
    color: #066da5;
}

.about-job .competences li.docker:hover a {
    color: #066da5;
}

.about-job .competences li.git:hover {
    background-color: #f05133;
    color: #ffffff;
}

.about-job .competences li.git:hover a {
    color: #ffffff;
}

.about-job .competences li.html:hover {
    background-color: #f16529;
    color: #ffffff;
}

.about-job .competences li.html:hover a {
    color: #ffffff;
}

.about-job .competences li.ionic:hover {
    background-color: #ffffff;
    color: #488bff;
}

.about-job .competences li.ionic:hover a {
    color: #488bff;
}

.about-job .competences li.java:hover {
    background-color: #ffffff;
    color: #e76f00;
}

.about-job .competences li.java:hover a {
    color: #e76f00;
}

.about-job .competences li.javascript:hover {
    background-color: #f0db4e;
    color: #323230;
}

.about-job .competences li.javascript:hover a {
    color: #323230;
}

.about-job .competences li.mongodb:hover {
    background-color: #027f5d;
    color: #cee7a5;
}

.about-job .competences li.mongodb:hover a {
    color: #cee7a5;
}

.about-job .competences li.nodejs:hover {
    background-color: #90c53f;
    color: #46483d;
}

.about-job .competences li.nodejs:hover a {
    color: #46483d;
}

.about-job .competences li.nosql:hover {
    background-color: #ffffff;
    color: #2163c6;
}

.about-job .competences li.nosql:hover a {
    color: #2163c6;
}

.about-job .competences li.prestashop:hover {
    background-color: #b0ddec;
    color: #de0067;
}

.about-job .competences li.prestashop:hover a {
    color: #de0067;
}

.about-job .competences li.python:hover {
    background-color: #3879ab;
    color: #ffda5d;
}

.about-job .competences li.python:hover a {
    color: #ffda5d;
}

.about-job .competences li.sql:hover {
    background-color: #1e4056;
    color: #ffffff;
}

.about-job .competences li.sql:hover a {
    color: #ffffff;
}

.about-job .competences li.svn:hover {
    background-color: #809cc8;
    color: #ffffff;
}

.about-job .competences li.svn:hover a {
    color: #ffffff;
}

.about-job .competences li.typescript:hover {
    background-color: #007acc;
    color: #ffffff;
}

.about-job .competences li.typescript:hover a {
    color: #ffffff;
}

.about-job .competences li.windows:hover {
    background-color: #0178d4;
    color: #ffffff;
}

.about-job .competences li.windows:hover a {
    color: #ffffff;
}

.about-job .competences li.wordpress:hover {
    background-color: #464646;
    color: #ffffff;
}

.about-job .competences li.wordpress:hover a {
    color: #ffffff;
}

/* EDUACATION / CERTIFICATES => PC */
#education-certificates-pc {
    display: flex;
    align-items: stretch;
}

#education-certificates-pc>section {
    width: 50%;
}

/* EDUCATION */
.education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-right: 2px solid rgba(69, 78, 86, 0.5);
}

.study {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 3rem;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}

.study h3 {
    margin: .2rem 0;
}

/* CERTIFICATES */
.certificates {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.certificate {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 3rem;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}

.certificate h3 {
    margin: .2rem 0;
}


/* SKILS */
.skills {
    width: 90%;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: stretch;

    --size-chart: 12rem;
}

/* CHARTS */
.skills>article *, .skills>article *:before, .skills>article *:after {
    box-sizing: border-box;
}

/* Size */
.pie-wrapper,
.pie-wrapper .pie .circle-line {
    width: var(--size-chart);
    height: var(--size-chart);
}

.skills>article {
    font-size: var(--size-chart);
    border-radius: 50%;
    margin: 2rem;
    background-color: transparent;
    cursor: default;
}

.pie-wrapper {
    position: relative;
    overflow: hidden;
}

.pie-wrapper .label {
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #454e56;
    color: #b2becd;
    position: absolute;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 5px #454e56;
    z-index: 1;
    transition: all 0.3s;
}

.pie-wrapper .label * {
    z-index: 1;
    font-size: 1.5rem;
    margin: 0;
}

.pie-wrapper .label h3 {
    text-shadow: 1px 1px 0.25rem rgb(255 255 255 / 25%);
}

.pie-wrapper .label span {
    font-style: italic;
    font-size: 3rem;
    text-shadow: 1px 1px 0.25rem rgb(255 255 255 / 25%);
}

.pie-wrapper .pie .circle-line {
    border: 1rem solid #b2becd;
    border-radius: 50%;
    position: absolute;
}

.pie-wrapper.progress-00 .pie .circle-line {
    border: none;
}

.pie-wrapper.progress-05 .pie .circle-line {
    clip-path: polygon(50% 0%, 70% 0, 50% 50%);
}

.pie-wrapper.progress-10 .pie .circle-line {
    clip-path: polygon(50% 0%, 90% 0, 50% 50%);
}

.pie-wrapper.progress-15 .pie .circle-line {
    clip-path: polygon(50% 0%, 100% 0, 100% 10%, 50% 50%);
}

.pie-wrapper.progress-20 .pie .circle-line {
    clip-path: polygon(50% 0%, 100% 0, 100% 30%, 50% 50%);
}

.pie-wrapper.progress-25 .pie .circle-line {
    clip-path: polygon(50% 0%, 100% 0, 100% 50%, 50% 50%);
}

.pie-wrapper.progress-30 .pie .circle-line {
    clip-path: polygon(50% 0%, 100% 0, 100% 50%, 100% 70%, 50% 50%);
}

.pie-wrapper.progress-35 .pie .circle-line {
    clip-path: polygon(50% 0%, 100% 0, 100% 50%, 100% 90%, 50% 50%);
}

.pie-wrapper.progress-40 .pie .circle-line {
    clip-path: polygon(50% 0%, 100% 0, 100% 50%, 100% 100%, 90% 100%, 50% 50%);
}

.pie-wrapper.progress-45 .pie .circle-line {
    clip-path: polygon(50% 0%, 100% 0, 100% 50%, 100% 100%, 70% 100%, 50% 50%);
}

.pie-wrapper.progress-50 .pie .circle-line {
    clip-path: polygon(50% 0%, 100% 0, 100% 50%, 100% 100%, 50% 100%, 50% 50%);
}

.pie-wrapper.progress-55 .pie .circle-line {
    clip-path: polygon(50% 0%, 100% 0, 100% 50%, 100% 100%, 50% 100%, 30% 100%, 50% 50%);
}

.pie-wrapper.progress-60 .pie .circle-line {
    clip-path: polygon(50% 0%, 100% 0, 100% 50%, 100% 100%, 50% 100%, 10% 100%, 50% 50%);
}

.pie-wrapper.progress-65 .pie .circle-line {
    clip-path: polygon(50% 0%, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 90%, 50% 50%);
}

.pie-wrapper.progress-70 .pie .circle-line {
    clip-path: polygon(50% 0%, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 70%, 50% 50%);
}

.pie-wrapper.progress-75 .pie .circle-line {
    clip-path: polygon(50% 0%, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 50% 50%);
}

.pie-wrapper.progress-80 .pie .circle-line {
    clip-path: polygon(50% 0%, 100% 0%, 100% 50%, 100% 100%, 50% 100%, 0% 100%, 0% 50%, 0% 30%, 50% 50%);
}

.pie-wrapper.progress-85 .pie .circle-line {
    clip-path: polygon(50% 0%, 100% 0%, 100% 50%, 100% 100%, 50% 100%, 0% 100%, 0% 50%, 0% 10%, 50% 50%);
}

.pie-wrapper.progress-90 .pie .circle-line {
    clip-path: polygon(50% 0%, 100% 0%, 100% 50%, 100% 100%, 50% 100%, 0% 100%, 0% 50%, 0% 0%, 10% 0%, 50% 50%);
}

.pie-wrapper.progress-95 .pie .circle-line {
    -webkit-clip-path: polygon(50% 0%, 100% 0%, 100% 50%, 100% 100%, 50% 100%, 0% 100%, 0% 50%, 0% 0%, 0% 0%, 50% 50%);
    clip-path: polygon(50% 0%, 100% 0%, 100% 50%, 100% 100%, 50% 100%, 0% 100%, 0% 50%, 0% 0%, 30% 0%, 50% 50%);
}

/* 
    0%     => 50 0
        5  => 70 0
        10 => 90 0
    12.5%  => 100 0
        15 => 100 10
        20 => 100 30
    25%    => 100 50
        30 => 100 70
        35 => 100 90
    37.5%  => 100 100
        40 => 90 100
        45 => 70 100
    50%    => 50 100
        55 => 30 100
        60 => 10 100
    62.5%  => 0 100
        65 => 0 90
        70 => 0 70
    75%    => 0 50
        80 => 0 30
        85 => 0 10
    87.5%  => 0 0
        90 => 10 0
        95 => 30 0
    100%   => 50 0

    12.5 pts => 50%
    1    pts  => 4%
*/

.skills #android:hover .label {
    background-color: var(--android-background-color);
    color: var(--android-text-color);
}

.skills #angular:hover .label {
    background-color: var(--angular-background-color);
    color: var(--angular-text-color);
}

.skills #bootstrap:hover .label {
    background-color: var(--boostrap-background-color);
    color: #ffffff;
}

.skills #css:hover .label {
    background-color: var(--css-background-color);
    color: #ffffff;
}

.skills #docker:hover .label {
    background-color: #def1f9;
    color: #066da5;
}

.skills #git:hover .label {
    background-color: #f05133;
    color: #ffffff;
}

.skills #html:hover .label {
    background-color: #f16529;
    color: #ffffff;
}

.skills #ionic:hover .label {
    background-color: #ffffff;
    color: #488bff;
}

.skills #java:hover .label {
    background-color: #ffffff;
    color: #e76f00;
}

.skills #javascript:hover .label {
    background-color: #f0db4e;
    color: #323230;
}

.skills #mongodb:hover .label {
    background-color: #027f5d;
    color: #cee7a5;
}

.skills #nodejs:hover .label {
    background-color: #90c53f;
    color: #46483d;
}

.skills #nosql:hover .label {
    background-color: #ffffff;
    color: #2163c6;
}

.skills #php:hover .label {
    background-color: #8993be;
    color: #232531;
}

.skills #prestashop:hover .label {
    background-color: #b0ddec;
    color: #de0067;
}

.skills #python:hover .label {
    background-color: #3879ab;
    color: #ffda5d;
}

.skills #react:hover .label {
    background-color: #001e26;
    color: #00afde;
}

.skills #sql:hover .label {
    background-color: #1e4056;
    color: #ffffff;
}

.skills #svn:hover .label {
    background-color: #809cc8;
    color: #ffffff;
}

.skills #typescript:hover .label {
    background-color: #007acc;
    color: #ffffff;
}

.skills #unity:hover .label {
    background-color: #ffffff;
    color: #808182;
}

.skills #windows:hover .label {
    background-color: #0178d4;
    color: #ffffff;
}

.skills #wordpress:hover .label {
    background-color: #464646;
    color: #ffffff;
}